*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form{
    height: 30vh;
    width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    margin: auto;
    box-shadow: 0px 0px 8px #0009;
}

input{
    width: 70%;
}

.aprovado{
   box-shadow: 0px 0px 10px green; 
}

.reprovado{
    box-shadow: 0px 0px 10px red; 
}